sudo: required
dist: trusty
branches:
  only:
  - master
language: node_js
node_js:
- stable
notifications:
  email: false
script:
    - echo 'test';
deploy:
  provider: releases
  api_key:
    secure: ZOdfZ4jK9yeDy8WSi6YR6iiIJQmKcxtyGOh3OkgX0e4OGV73Jo6SbW7DXsM3s0W95kL7U3sAQaZ1AlYHWRobDos+R4keYUUEiEAPozWX4Q+g9LcnxkcHAmX2+iEXOZYTcu7L/bI4q0OiMi0PfTYOqdfKYdVzLtOys557/IYwiXRsDsAZgfnceY4vqOZZzQKxLvmbYn7KEauQ5zzyJhqJpHe26RxGL9T8ZkddnePV700OW8YLkzKdIsYIM4bVPDmn/TSsAR9/TA2nQMvRmVbvIq3hTZMnSRBVGRqwBSyO0TuIb/ZUZVLA0OHPvkAvL2MmCQFIqZJqWoa8yhPOfSh5uaY+bgs8V5hTm1GbOD6ty/yW+Kr19FJpUrmLoJXXK+uX3VnDVk5indl9t7WgDbpaRqBbxkyGfT4/CsxlcWPVIRcR05CEuCXDTccmT0C+qznAqcpKmtAweYG53g9lBysfppW7f8CB2SQDEJzGjDyiEv2+IDHw3lxkvFnSUm6fRHMvf2QaAm6otH7dOD2SvN/Rx8KpCq7d6KjWouDRu2uW9Y/rHPakEYQdwNvUxMBGtNQ1/H6ugshp7Yp3iQWCV9qUS0mt8O2nne1v6hvWX/KbaKvNRlBTjKLLpaK3XMYe6jURVO/Usqqq6I2lTnjqE7MPNk6BAjJBRfcS7Hw+sDPSWNU=
  file: file_to_release
  on:
    tags: true
  overwrite: true
